@using Delpin.Mvc.Extensions
@using Delpin.MVC.Dto.v1.ProductItems
@model Delpin.Mvc.Models.Products.ProductViewModel

@{
    ViewData["Title"] = "Detaljer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="delpin-color">@Model.Name</h1>
        </div>
        @if (User.IsAdmin() || User.IsSuperUser())
        {
            <div class="col d-flex flex-row-reverse">
                <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-secondary btn-delpin mt-2" style="height: 40px">Opdater</a>
            </div>
        }
    </div>
</div>

<hr />
<div class="container">
    <div class="row">
        <div class="col">
            @if (string.IsNullOrEmpty(Model.Image))
            {
                <img src="@Url.Content("~/images/missing.png")" alt="Image coming soon" style="width: 500px; height: 500px" class="rounded" />
            }
            else
            {
                <img src="@Model.Image" alt="@Model.Name" class="rounded" style="width: 500px; height: 500px" />
            }
        </div>
        <div style="border-left:1px solid rgba(0,0,0,.1);height:500px"></div>
        <div class="col pt-5">
            <label><strong>Beskrivelse</strong></label>
            <p>@Model.Description</p>
            <label><strong>Leje pr. dag</strong></label>
            <br />
            <p class="delpin-color" style="font-size: 28px; margin-bottom: 0; display: inline-block"> <strong>@($"{Model.Price:#.##}") kr.</strong></p>
            <p class="delpin-color" style="margin-bottom: 0; display: inline">(eksl. moms)</p>
            <p class="delpin-color"><strong>@($"{Model.Price * 1.25M:#.##}") kr.</strong> (inkl. moms)</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            @if (User.IsAdmin() || User.IsSuperUser())
            {
                <div class="mb-3">
                    <a asp-controller="ProductItems" asp-action="Create" asp-route-productId="@Model.Id" asp-route-productName="@Model.Name" class="btn btn-primary">Ny produktlinje</a>
                </div>
            }
            @foreach (var productItem in Model.ProductItems.OrderByDescending(x => x.IsAvailable))
            {
                @if (productItem.IsAvailable)
                {
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Lokation: @productItem.PostalCity.PostalCode - @productItem.PostalCity.City</h5>
                            <p class="card-text">Sidst serviceret: @productItem.LastService.ToString("d")</p>
                            @if (ViewData["ShoppingCart"] != null && (ViewData["ShoppingCart"] as List<ProductItemDto>)!.FirstOrDefault(x => x.Id == productItem.Id) != null)
                            {
                                <a asp-controller="ProductItems" asp-action="RemoveFromBasket" asp-route-itemId="@productItem.Id" class="btn btn-warning" style="background-color: #DB9027 !important; color: #ffffff !important">Fjern fra booking</a>
                            }
                            else
                            {
                                <a asp-controller="ProductItems" asp-action="AddToBasket" asp-route-itemId="@productItem.Id" class="btn btn-primary">Tilføj til booking</a>
                            }
                            @if (User.IsAdmin() || User.IsSuperUser())
                            {
                                <a asp-controller="ProductItems" asp-action="Update" asp-route-id="@productItem.Id" asp-route-productId="@Model.Id" class="btn btn-secondary btn-delpin">Opdater</a>
                                <form asp-controller="ProductItems" asp-action="Delete" asp-route-id="@productItem.Id" style="display: inline;" method="post" onsubmit="return alert('Vil du slette denne produktlinje?')">
                                    <input type="submit" class="btn btn-danger btn-delpin" value="Slet" />
                                </form>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="card mb-3 grayout">
                        <div class="card-body">
                            <h5 class="card-title">Lokation: @productItem.PostalCity.PostalCode - @productItem.PostalCity.City</h5>
                            <p class="card-text">Sidst serviceret: @productItem.LastService.ToString("d")</p>
                            <button href="#" disabled class="btn btn-secondary">Tilføj til booking</button>
                            @if (User.IsAdmin() || User.IsSuperUser())
                            {
                                <a asp-controller="ProductItems" asp-action="Update" asp-route-id="@productItem.Id" asp-route-productId="@Model.Id" class="btn btn-secondary btn-delpin">Opdater</a>
                                <form asp-controller="ProductItems" asp-action="Delete" asp-route-id="@productItem.Id" style="display: inline;" method="post" onsubmit="return alert('Vil du slette denne produktlinje?')">
                                    <input type="submit" class="btn btn-danger btn-delpin" value="Slet" />
                                </form>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="ml-3">
    <a asp-action="Index" asp-route-groupName="@Model.ProductGroup.Name" class="btn btn-secondary">Tilbage til oversigt</a>
</div>
