@using Delpin.Mvc.Extensions
@model List<Delpin.Mvc.Models.Products.ProductViewModel>

@{
    Guid groupId = Guid.Empty;
    string groupName = string.Empty;
    if (Model.Count > 0)
    {
        groupId = Model[0].ProductGroup.Id;
        groupName = Model[0].ProductGroup.Name;
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function alert() {
        if (confirm('Vil du slette dette produkt?')) {
            return true;
        } else {
            return false;
        }
    }
</script>

<h1>@groupName</h1>

<section>
    @if (User.IsAdmin() || User.IsSuperUser())
    {
        <a asp-controller="Products" asp-action="Create" asp-route-groupName="@groupName" asp-route-groupId="@groupId" style="width: 80px" class="btn btn-primary">Opret</a>
    }
    @if (Model.Count > 0)
    {
        <div class="container">
            <div class="row row-cols-4">
                @foreach (var product in Model)
                {
                    <div>
                        <a asp-action="Details" asp-route-id="@product.Id">
                            <div class="card col margin-10px-no-left" style="width: 18rem; padding: 0; max-width: 250px">
                                @if (string.IsNullOrEmpty(product.Image))
                                {
                                    <img src="images/missing.png" class="card-img image-card-size" alt="...">
                                }
                                else
                                {
                                    <img src="@(product.Image)" class="card-img image-card-size" alt="...">
                                }
                                <div class="card-body align-items-center" style="padding: 0; padding-top: 5px">
                                    <p class="card-title" style="text-align: center">@product.Name</p>
                                </div>
                            </div>
                        </a>
                        @if (User.IsAdmin() || User.IsSuperUser())
                        {
                            <div class="text-center" style="margin-right: 10px">
                                <a asp-action="Update" asp-route-id="@product.Id" type="submit" style="display: inline" class="btn btn-secondary btn-delpin">Rediger</a>
                                <form asp-controller="ProductCategories" style="display: inline;" method="post" onsubmit="return alert()">
                                    <input asp-action="Delete" asp-route-id="@product.Id" type="submit" class="btn btn-danger btn-delpin" value="Slet" />
                                </form>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <h2>Der blev ikke fundet nogen produkter</h2>
    }
</section>