@using Delpin.Mvc.Extensions
@model IEnumerable<Delpin.Mvc.Models.ProductCategories.ProductCategoryViewModel>

@{
    ViewData["Title"] = "Udlejningskatalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<section>
    @if (User.IsAdmin() || User.IsSuperUser())
    {
        <a asp-action="Create" style="width: 80px" class="btn btn-primary">Opret</a>
    }
    <div class="container">
        <div class="row row-cols-4">
            @foreach (var category in Model)
            {
                <div>
                    <a asp-controller="ProductGroups" asp-action="Index" asp-route-categoryName="@category.Name">
                        <div class="card col margin-10px-no-left" style="width: 18rem; padding: 0; max-width: 250px">
                            @if (string.IsNullOrEmpty(category.Image))
                            {
                                <img src="images/missing.png" class="card-img image-card-size" alt="...">
                            }
                            else
                            {
                                <img src="@(category.Image)" class="card-img image-card-size delpin-img" alt="...">
                            }
                            <div class="card-body align-items-center" style="padding: 0; padding-top: 5px">
                                <p class="card-title" style="text-align: center">@category.Name</p>
                            </div>
                        </div>
                    </a>
                    @if (User.IsAdmin() || User.IsSuperUser())
                    {
                        <div class="text-center" style="margin-right: 10px">
                            <a asp-action="Update" asp-route-id="@category.Id" type="submit" style="display: inline" class="btn btn-secondary btn-delpin">Rediger</a>
                            <form asp-controller="ProductCategories" style="display: inline;" method="post" onsubmit="return alert('Vil du slette denne kategori?')">
                                <input asp-action="Delete" asp-route-id="@category.Id" type="submit" class="btn btn-danger btn-delpin" value="Slet" />
                            </form>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</section>